@font-face {
  font-family: 'Hakgyoansim Mabeopsa';
  font-style: normal;
  font-weight: bold;
  src: local('Hakgyoansim Mabeopsa'),
    url('fonts/HakgyoansimMabeopsaOTFR.otf') format('opentype'),
    url('fonts/HakgyoansimMabeopsaR.ttf') format('truetype');
}