.product-page {
  width: 100%;
  height: 100%;
  padding: 0 16px;
  background-color: var(--gray-50);

  .product-container {
    width: 100%;
    padding: 2rem 0;

    .page-info01 {
      @include flex-layout(row, space-between);
      padding: 0 1rem;

      .info01-title {
        padding-bottom: 2rem;

        .info01-name {
          @include body-l;
          padding: 1rem 0;
        }

        .info01-price {
          @include body-m;
        }
      }
    }

    .info01-label {
      @include caption1;
      text-align: center;
      width: 70px;
      height: 35px;
      line-height: 1.8;
      opacity: 0.8;
      border: 0.5px solid var(--gray-400);
    }

    .page-img-container {
      width: 100%;
      height: 100%;

      .page-main-img {
        width: 100%;
        border-radius: 20px;
      }
    }

    .page-info02 {
      width: 100%;
      padding: 1rem 1rem;

      .info02 {
        @include flex-layout(row, space-between);

        .info02-color-title {
          @include flex-layout();
          gap: 0.5rem;
        }

        .info02-title {
          @include body-m;
        }

        .info02-option {
          @include body-s;
        }

        .color-caption {
          @include body-s;
          color: var(--gray-500);
        }

        .size-caption {
          text-decoration: underline;
          cursor: pointer;
        }
      }

      .info02-btn {
        margin: 2rem 1rem;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #C8BFAD;

        &:hover {
          filter: brightness(80%);
        }
      }

      .info02-btn2-wrap {
        @include flex-layout(row, left);
        gap: 1rem;
        margin: 2rem 1rem;

        .info02-btn2 {
          width: 70px;
          height: 30px;
          @include body-s;
          background-color: var(--gray-white);
          border: 1px solid var(--gray-400);

          &:hover {
            filter: brightness(80%);
          }
        }
      }

      .product-report {
        @include flex-layout(row, space-between);
        padding-left: 1rem;
        width: 100%;
        height: 4rem;
        background-color: var(--primary-50);
        margin-bottom: 2rem;
        .report-wrap {
          @include flex-layout();
          gap: 1rem;

          .report-icon {
            font-size: 2rem;
            color: var(--primary-400);
          }

          .report-cation {
            @include caption2;
          }
        }
        .report-option{
          padding-right: 0.5rem;
          @include caption2;
          text-decoration: underline;
          color: var(--gray-500);
          cursor: pointer;
        }
      }
    }
    .productPage-price{
      border-top: 1px solid var(--gray-700);
      padding: 2rem 0;
      @include flex-layout(row, space-between);
    .productPage-price-info{
      @include body-m;
    }
    .productPage-price-total{
      @include body-l;
    }
      }
      .productPage-btn-wrap{
        width: 100%;
        @include flex-layout();
        gap: 1rem;
        .productPage-btn-icon{
          width: 20%;
          line-height: 0.8;
          height: 4.5rem;
          font-size: 3rem;
          border-radius: 10px;
          background-color: var(--gray-white);
          border: 1px solid var(--gray-500);
          &:hover{
            color: red;
            filter: brightness(80%);
          }
        }
        .productPage-btn-go{
          width: 80%;
          height: 4.5rem;
          background-color: var(--primary-700);
          color: var(--gray-white);
          @include btn2;
          border-radius: 10px;
          &:hover{
            filter: brightness(80%);
          }
        }
      }
  }
  .detail-btn-wrap{
    @include flex-layout();
    border-bottom: 1px solid var(--gray-700);
    button{
      height: 5rem;
      flex: 1;
      background-color: var(--gray-white);
      @include body-s;
          &:hover{
      filter: brightness(80%);
    }
    }
    .active{
      border-bottom: 2px solid var(--gray-700);
    }

  }
  .tab-content{
    width: 100%;
    height: 100%;
  }
}