.ReviewInfo{
  width: 100%;
  height: 100%;
  margin: 3rem 0;
  @include tablet{
    width: 70%;
    margin: 4rem auto;
  }
  @include desktop{
    width: 65%;
    margin: 4rem auto;
  }
  h1{
    text-align: center;
    padding: 0.5rem 0;
    @include body-m;
    span{
      color:var(--point);
    }
      @include tablet{
    @include body-l;
  }
  @include desktop{
    @include body-l;
  }
  }
  .review-img-wrap{
    padding: 1rem 0;
    @include flex-layout();
    gap: 2rem;
    @include tablet{
      padding: 2rem 0;
    }
    @include desktop{
      padding: 2rem 0;
    }
    .review-img{
      width: 140px;
      height: 140px;
      object-fit: cover;
      border-radius: 10px;
      cursor: pointer;
      &:hover{
        filter: brightness(80%);
        scale: 1.1;
      }
      @include tablet{
        width: 200px;
        height: 200px;
        margin: 0 1rem;
      }
      @include desktop{
        width: 200px;
        height: 200px;
        margin: 0 1rem;
      }
    }
  }
  .review-btn-wrap{
    @include flex-layout(row,right);
    gap: 1rem;
    @include body-s;
    padding: 1rem 0;
    padding-bottom: 2rem;
    button{
      background-color: transparent;
    }
    .review-btn01,.review-btn02{
      padding-right: 1rem;
      border-right: 1px solid var(--gray-500);
      color: var(--gray-500);
    }
  }
  .review{
    width: 100%;
    padding: 2rem 0;
    border-bottom: 1px solid var(--gray-500);
    .review-info{
      @include flex-layout(row,space-between);
    .review-star{
      @include flex-layout();
      gap: 0.5rem;
      color: var(--point);
      font-size: 1.2rem;
      .review-star2{
        color: var(--gray-500);
        @include body-s;
      }
    }
    }
    .review-info01{
      @include caption2;
      color: var(--gray-500);
      padding: 0.5rem 0;
    }
    .review-ment{
      @include body-s;
      padding: 1.5rem 0;
    }
    .review-user{
      @include flex-layout();
      color: var(--gray-500);
      gap: 1rem;
      @include caption2;
      .review-user01{
        border-right: 1px solid var(--gray-500);
        padding-right: 1rem;
      }
    }
    .review-comment{
      @include flex-layout(row,left);
      gap: 2rem;
      @include caption2;
      color: var(--gray-500);
      cursor: pointer;
    }
  }
  .review-btn{
    width: 30rem;
    height: 5rem;
    margin: 3rem auto;
    @include caption1;
    background-color: var(--gray-white);
    border: 1px solid var(--gray-500);
    border-radius: 10px;
    &:hover{
      filter: brightness(80%);
    }
  }
}